/* Importing fonts */
@import "tailwindcss";
@config "../tailwind.config.js";

/* styles.css */
.text-shadow {
  text-shadow: 10px 5px 8px rgba(0, 0, 0, 0.5);
}

.text-shadow-md {
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
}

.underline-animation {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s ease-in-out;
}

.underline-animation:hover,
.underline-animation.active {
  background-size: 100% 2px;
}


.bg-color-eaebf5 {
  background-color: #eaebf5;
}

.text-eaebf5 {
  color: #eaebf5;
}


.hover\:bg-color-6d618e {
  &:hover {
      @media (hover: hover) {
          background-color: #6d618e /* oklch(44.6% 0.03 256.802) = #4a5565 */;
      }
  }
}
.hover\:text-custom {
  &:hover {
      @media (hover: hover) {
          color: #6d618e;
      }
  }
}

.tr-blr-container:has(.tr-blr:hover) > .tr-blr:not(:hover) {
  opacity: 0.5;
  filter: blur(10px);
  scale: 0.9;
}