/* Importing fonts */
@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "tailwindcss";

/* Global smooth scrolling and font family */
* {
  scroll-behavior: smooth;
  font-family: 'General Sans', sans-serif;

}


.font-bebas-15rem {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 15rem ;
}

.font-bebas-6rem {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 6rem ;
}

.underline-animation {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s ease-in-out;
}

.underline-animation:hover,
.underline-animation.active {
  background-size: 100% 2px;
}


.bg-color-eaebf5 {
  background-color: #eaebf5;
}

.text-eaebf5 {
  color: #eaebf5;
}


.hover\:bg-color-6d618e {
  &:hover {
      @media (hover: hover) {
          background-color: #6d618e /* oklch(44.6% 0.03 256.802) = #4a5565 */;
      }
  }
}
.hover\:text-custom {
  &:hover {
      @media (hover: hover) {
          color: #6d618e;
      }
  }
}